<%- include('layouts/head.ejs'); -%>

    <body>
        <!-- <div class="container"> -->
        <%- include('includes/header.ejs'); -%>
            <div class=".container-fluid">
                <div class="row">
                    <div class="siderbar">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link active" href="#">Active</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Link</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Link</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled" href="#">Disabled</a>
                            </li>
                        </ul>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card">
                                    <img src="" alt="" class="card-img-top" data-video="">
                                    <div class="card-body">
                                        <h4 class="card-title">biaoti</h4>
                                        <p class="card-desc">miaoshu</p>
                                    </div>
                                    <div class="card-footer">
                                        <small class="text-muted">1 tianqiangengxin</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card">
                                    <img src="" alt="" class="card-img-top" data-video="">
                                    <div class="card-body">
                                        <h4 class="card-title">biaoti</h4>
                                        <p class="card-desc">miaoshu</p>
                                    </div>
                                    <div class="card-footer">
                                        <small class="text-muted">1 tianqiangengxin</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card">
                                    <img src="" alt="" class="card-img-top" data-video="">
                                    <div class="card-body">
                                        <h4 class="card-title">biaoti</h4>
                                        <p class="card-desc">miaoshu</p>
                                    </div>
                                    <div class="card-footer">
                                        <small class="text-muted">1 tianqiangengxin</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card">
                                    <img src="" alt="" class="card-img-top" data-video="">
                                    <div class="card-body">
                                        <h4 class="card-title">biaoti</h4>
                                        <p class="card-desc">miaoshu</p>
                                    </div>
                                    <div class="card-footer">
                                        <small class="text-muted">1 tianqiangengxin</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- </div> -->

    </body>
    <%- include('layouts/foot.ejs'); -%>