<%- include('head.ejs'); -%>

    <body>
        <div class="container">
            <div class="">
                <h1>Hi,
                    <%= you %>
                </h1>
                <div>This is
                    <%= me %>
                </div>
            </div>
        </div>

    </body>
    <%- include('foot.ejs'); -%>